.container{
    max-width: 700px;
display: flex;
justify-content: space-between;

margin-top: 70px;

}
.user_responce{
      color:pink;
      height: 100px;
      width: 600px;
      background-color: black;
      text-align: center;
}
.form_responce{
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: inherit;
    font-family: sans-serif;

}
.form_responce > h3{
    text-align: left;
}
.form_responce> h5{
    text-align: right;
}
.form_responce >h4{
    text-align: left;
}

@media screen and (max-width: 480px) {
    .container {
      display: flex;
      flex-direction: column;
      margin: auto 0;
    }
    .user_responce{
           width: 100%;
    }
  }

  .heading{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 0px;
}
.reasonText{
    margin:0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}